<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <h:outputStylesheet library="css" name="base.css"/>
    <style type="text/css">
@import "./css/style.css";
</style>
</h:head>

<h:body     background-color="black;">
    <p:panel >
   
        <f:facet name="header" >
            <h:graphicImage id="underTree" library="./images/Avatar" name="Avatar.jpg"  style="background: white"/>
            
             <div align="right"><h:outputText value="#{mbSession.user.login}"   text-align="center;"/></div> 
<!--              <div align="right"><h:outputText value="#{mbSession.user.role.role}"   text-align="center;"/></div>  -->

            <div align="right"><h:outputLink value="">logout</h:outputLink></div>
 
        </f:facet>
  


<!--         <p:breadCrumb> -->
<!--             <p:menuitem value="Home" url="#"/> -->
<!--         </p:breadCrumb> -->

        <p:tabView id="mainTabView">
        
          <p:tab id="calendar" title="calendar of task">
                <p:outputLabel for="inline" value="Inline:" />
       			 <p:calendar id="inline" value="#{calendarView.date1}" mode="inline" />
 
            </p:tab>
            <p:tab id="homeTab" title="BAP">
<h:outputLink value="page/BAP.html">visualiser mon BAP</h:outputLink>
            
<!--                       <ui:include src="page/Eval.html"  ></ui:include>   -->
            </p:tab>
           
                </p:tabView>
           

    </p:panel>
</h:body>
</html>