<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<head>

<style type="text/css">
@import "./css/style.css";
</style>
</head>

    <body>

      <ui:composition template="Template.xhtml">

            <ui:define name="title">
                Authentification
            </ui:define>
       
    
                   <ui:define name="avatar">
                     <h:graphicImage value="./images/avatar.jpg" class="profile__avatar" alt="Avatar" /> 
                   </ui:define> 
          
        
             
                   <ui:define name="login"> 
                    <h:inputText  id="login" class="input" value="#{authentification.login}" required="true" />
                    <label for="fieldUser" class="label">Username</label>
                   </ui:define>
                   
                   <ui:define name="pass"> 
                    <h:inputSecret id="pass" class="input" value="#{authentification.password}" required="true" />
                    <label for="fieldPassword" class="label">Password</label>
                   </ui:define>
                   
                   <ui:define name="button">
                       <h:commandButton class="btn" value="Login" action="#{authentification.goTo()}" />
                   </ui:define>
          
          <h:message for="login" />
          <h:message for="pass" />
                
      </ui:composition>
  
    </body>
</html>
