<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Evaluation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</h:head>

<h:body>
<h:form>
         
          
  <h:panelGrid columns="4" style="margin-bottom:10px" cellpadding="5" columnClasses="label, value">
        <p:outputLabel for="basic" value="Basic:" />
        <p:selectOneListbox id="basic" value="#{evaluation.id}">
            <f:selectItem itemLabel="#{evaluation.qualif}" itemValue="#{evaluation.qualis}" />
           
        </p:selectOneListbox>
     </h:panelGrid>

    </h:form>
</h:body>
</html>