<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    
 <h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--     <h:outputStylesheet name="/style.css"/> -->

<style type="text/css">
@import "./css/style.css";
</style>
    
    <title><ui:insert name="title" /></title>
 </h:head>
    
 <h:body>
     <form>
     <ui:insert name="content"/>
     </form> 
  <h:form>
 
   <div class="container">
    <div class="profile">
        
        <ui:insert name="avatar"/>
   
        <div class="field">
            <ui:insert name="login"/>         
        </div>   
        <div class="field">
            <ui:insert name="pass"/>         
        </div> 
           
        <div class="profile__footer">   
            <ui:insert name="button"/>
        </div>
           
     </div>
       
    </div>
 
   </h:form>
     
 </h:body>
    
</html>
